.container_a {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  padding: 20px;
}
.inputElement {
  width: 25vw;
  height: 5vh;
  background-color: lightgray;
  font-size: 13px;
  border-radius: 12px;
  margin: 12px;
  border: 2px solid gray;
}
.msg {
  color: green;
  text-align: center;
  font-size: 19px;
  font-family: "Roboto";
}
.button {
  border-radius: 4px;
  color: blue;
  align-self: center;
}
